* {
	margin: 0;
	padding: 0;
	border:0;

}

* a {
	text-decoration: none 
}

#wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	color: #01171c 	background: ;
}


header {
	background-color:#030032;
	width: 100%;
}


.logo {
	margin-top: 10px ;
	float: left;
	padding:20px;
}


header a {
	color: #b3b3b3;
	text-decoration: #a0a0a4;
	font-family:"Meiryo";
	font-weight: bold;
	text-decoration: none;
}


.horizontal ul, .horizontal li {
	display: inline;
	color:#b3b3b3;

}

.horizontal-nav {
	font-size: 17px;
	word-spacing: 6em;
	line-height: 7em;
	margin-left: 30px;
}


.horizontal-nav2 {

	float: left;
	background-color: #1d1d3d;
	width: 100%;
	word-spacing: 11.5em;
	text-align: center;
	line-height: 3em;

}



input[type=text] {
	width: 300px;
	padding: 6px;
	outline: none;
	border: 1.5px solid #1d1d3d;
	border-radius: 30px;
}


.topnews img {

	margin:20px;
	width: 560px;
}


.topnews {

	margin-left: 5%;
	padding-top: 5%;
}


.main-content h1 {
	font-family:"Meiryo";
	text-align: center;
	line-height: 1em;
	font-weight: lighter;
}


article {
	text-indent: 1em;
	font-size: 12.5px;
	line-height: 2.5em;
	font-family: "Meiryo";
	color: #393434;
	clear: both;
	border-top: solid;
	border-color: #030032;
	margin-bottom: 5%;
}


article img {
	float: left;
	width: 40%;
	padding-bottom: 2%;
}

article h3, h5 {
	margin-left: 50%;

}

.picture img{
	width: 100%;
}


h4, h5, {
	font-family:"Meiryo";
	color: #161617;
	line-height: 5em;
	font-weight: bold;
	text-decoration: none;
}

.main-content {
	float: left;
	width: 60%;
}

.main-nav {
	float: right;
	width: 30%;
}

.clear {
	clear: both;
}

#container {
	width: 80%;
	margin-left: 5%;
}

aside {
	margin-left: 10%;
	margin-top: 3%;
}

.latestarticle {
	font-family: "Meiryo";
	font-weight: lighter;
	float: left;
}


.latest section {

	margin: 5% 0% 30% 0%;
	clear: both;
}

.latest h1 {
	margin-bottom: 10%;
	font-family:"Meiryo";
	line-height: 1em;
	font-weight: lighter;

}

.latest img {
	float: left;
	width: 50%
}

.latest a {
	margin-top: 10%;

}

.popular img {
	float: left;
	width: 30%
}


.popular section {

	margin-bottom: 30%;


}

.popular h1 {
	margin: 20% 0% 10% 0%;
	font-family:"Meiryo";
	font-weight: lighter;
}


}