*{
	margin: 0;
	padding: 0;
	border:0;
}

ul {
	list-style: none;
}

#wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	color: #01171c;
	background: #dfe7e8;


}


header {
	background-color:#030032;
	width: 100%;
	height:150px;
}


.logo {
	margin-top: 10px ;
	float: left;
	padding:20px;
}

.search-bar {
	float: right;
	margin: 20px;
}



header a {
	color: #b3b3b3;
	text-decoration: #a0a0a4;
	font-family:"Meiryo";
	font-weight: bold;
	text-decoration: none;
}


ul, li {
	display: inline;
	color:#b3b3b3;

}

.horizontal-nav {
	font-size: 17px;
	margin-left: 25%;
	word-spacing: 8em;
	line-height: 7em;
}


.horizontal-nav2 {

	float: left;
	background-color: #1d1d3d;
	width: 100%;
	height: 34%;
	word-spacing: 11.5em;
	text-align: center;
	line-height: 3em;
}



.main-content{
	margin:0 auto;
}


.row {
	text-indent: 1em;
	width: 500px;
	font-size: 12.5px;
	line-height: 2em;

}

p {

	font-family: "Meiryo";
	color: #393434;
}




.topnews img {

	margin:30px;
	width: 600px;
	height: 400px;

}

.picture img {
	width: 200px;
	height: 150px;
	vertical-align: middle;
	float: left;
	margin: 0 20px 10px 0;
}

.large-4 {


}


/*box-shadow: 0 0 2px rgba(0, 0, 0, .5);*/



.topnews {

	margin: 20px;
	padding-top: 10px ;
	width: 800px ;

}

.text, .text2 {
	font-family:"Meiryo";
	color: #161617;
	text-align: center;
	line-height: 5em;

}


.large-5 {
	line-height: 2em;

}

h4, h5, h3 {

	font-family:"Meiryo";
	color: #161617;
	text-align: center;
	line-height: 5em;
	font-weight: bold;
	text-decoration: none;

}

.sidebar {

	text-decoration: none;
	float: right;
	width: 400px;
	padding: 45px 0;
	text-align: center;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5);
	line-height: 5em;
	margin: 20px;


}


footer{
	clear: both;
	width: 100%;
	text-align: center;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}
