*{
	margin: 0;
	padding: 0;
	border:0;

}

#wrapper {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	color: #01171c;
	background: #dfe7e8;
	
   
}


header {
	background-color:#030032;
	width: 100%;
	height:150px;
}


.logo { 	
	margin-top: 25px ;
	float: left;
	padding:20px;
}

.search-bar {
	float: right;
	margin: 30px;
	color:#050E82;
	font-family:"Meiryo";
	font-size:1.2em;

	
}


.horizontal-nav > li {
	font-size:15px;
	font-weight:bold;
	color:#BDBDBD;
	padding: 20 px;
	float: left;
	font-family: "Meiryo";

}


header a {
	color: #a0a0a4;
	text-decoration: #a0a0a4c;
	
}


nav.horizontal {
	padding-bottom:23px;
} 

nav.horizontal ul li a{
	display:block;
	height:28px;
	margin:2px 6px 2px 6px;
	padding:15px 20px 0px 20px;
	font-size:15px;
	font-weight:bold;
	color:#BDBDBD;
	text-decoration:none;
	border-radius: 2px;
}



nav.horizontal ul li a:hover{
	background-image:-moz-linear-gradient(top, #161616, #030032);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#070E69), to(#22226e), color-stop(1,#ABFFF1));
clear:both;
}

.main-content {
          float: left;
          width: 800px;
          margin: 20px;
          box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

h4, h3 {
	
	font-family:"Meiryo";
	color: #161617;
	text-align: center;
}

.sidebar {

		text-decoration: none;
		float: right;
        width: 300px;
        padding: 10px 0;
        text-align: center;
        box-shadow: 0 0 2px rgba(0, 0, 0, .5);
        
}

 
footer{
          clear: both;
          width: 100%;
          text-align: center;
          box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

.








